<form method="post" action="{{ path('app_compagny_delete', {'id': compagny.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagny.id) }}">
    <button class="btn">Delete</button>
</form>
