<form method="post" action="{{ path('app_formule_reducer_delete', {'id': formule_reducer.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette formule de réduction ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formule_reducer.id) }}">
    <button class="btn">Delete</button>
</form>
