{% extends 'base.html.twig' %}

{% block title %}Nouvelle formule de réduction{% endblock %}

{% block body %}
    <h1>Nouvelle formule de réduction</h1>

    {{ include('formule_reducer/_form.html.twig') }}

    <a href="{{ path('app_formule_reducer_index') }}">Retour à la liste</a>
{% endblock %}
