{% extends 'base.html.twig' %}

{% block title %}Formule de réduction{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Nouvelle',
            'href': path('app_formule_reducer_new')} %}
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Date de début</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Date de fin</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Valeur</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ formule_reducer.startDate ? formule_reducer.startDate|date('d-m-Y') : '' }}</td>
                    <td class="border-b p-4">{{ formule_reducer.endDate ? formule_reducer.endDate|date('d-m-Y') : '' }}</td>
                    <td class="border-b p-4">{{ formule_reducer.value }}</td>
                    <td class="border-b p-4">
                        {{ include('formule_reducer/_delete_form.html.twig') }}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
