{% extends 'base.html.twig' %}

{% block title %}Modification de la famille{% endblock %}

{% block body %}
    <h1>Modification de la famille</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_index') }}">Retour à la liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
