<form method="post" action="{{ path('app_services_delete', {'id': service.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn">Supprimer</button>
</form>
