{% extends 'base.html.twig' %}

{% block title %}Nouveau Service{% endblock %}

{% block body %}
    <h1>Création d'un nouveau service</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('app_services_index') }}">Retour à la liste</a>
{% endblock %}
