{% extends 'base.html.twig' %}

{% block title %}Edit Tax{% endblock %}

{% block body %}
    <h1>Edit Tax</h1>

    {{ include('tax/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tax_index') }}">back to list</a>

    {{ include('tax/_delete_form.html.twig') }}
{% endblock %}
