{% extends 'base.html.twig' %}

{% block title %}New Tax{% endblock %}

{% block body %}
    <h1>Create new Tax</h1>

    {{ include('tax/_form.html.twig') }}

    <a href="{{ path('app_tax_index') }}">back to list</a>
{% endblock %}
