{% extends 'base.html.twig' %}

{% block title %}Invoices index{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold my-4 text-lime-600">Invoices index</h1>
        <div class="shadow-md rounded my-6">
            {% include 'components/table.html.twig' with {
                    rows: invoices,
                    invoiceId: 'id',
                } %}
        </div>
        <div class="flex space-x-4 mt-4">
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Créer un nouveau devis',
            'href': path('app_invoices_new_devis')} %}
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Créer un nouvelle facture',
            'href': path('app_invoices_new_facture')} %}
            </a>
        </div>
    </div>
{% endblock %}
