<div class="card">
    <div class="card-title">{% block title %}{% endblock %}</div>
    <div class="font-normal text-gray-700 dark:text-gray-400">
        {% block body %}{% endblock %}
    </div>
</div>