<header class="bg-lime-50 text-black mx-auto flex justify-between items-center py-4 p-4 w-full z-10
md:block md:w-1/5 md:mx-0 md:absolute">
    <a href="/" class="text-xl font-bold hover:text-gray-400">WorkWise</a>
    <button id="menu-toggle" class="md:hidden focus:outline-none">
        <i class="fas fa-bars"></i>
    </button>
</header>
<nav id="menu" class="hidden bg-lime-50 w-full pt-24 h-screen absolute
md:block md:w-1/5 md:block md:relative">
                <ul class="flex flex-col items-center
                md:items-start">
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fa-solid fa-building',
                        'link': '/compagny/',
                        'label': 'Entreprise'
                        } %}
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fas fa-tachometer-alt',
                        'link': '/dashboard/',
                        'label': 'Tableau de bord'
                        } %}
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fas fa-file-invoice',
                        'link': '/invoices/',
                        'label': 'Devis et facturation'
                        } %}
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fas fa-concierge-bell',
                        'link': '/category/',
                        'label': 'Services'
                        } %}
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fas fa-credit-card',
                        'link': '/payment/',
                        'label': 'Paiements'
                        } %}
                    {% include 'components/menu-item.html.twig' with {
                        'icon': 'fas fa-users',
                        'link': '/client/',
                        'label': 'Clients'
                        } %}
                </ul>
            </nav>
        <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            var menu = document.getElementById('menu');
            menu.classList.toggle('hidden');
            menu.classList.toggle('block');
        });
    </script>