<form method="post" action="{{ path('app_formule_delete', {'id': formule.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette formule ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formule.id) }}">
    <button class="btn">Supprimer</button>
</form>
