{% extends 'base.html.twig' %}

{% block title %}Modifier une formule{% endblock %}

{% block body %}
    <h1>Modifier une formule</h1>

    {{ include('formule/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_formule_index') }}">Retour à la liste</a>

    {{ include('formule/_delete_form.html.twig') }}
{% endblock %}
