{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Formule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>
                    {% for formule in subscription.formules %}
                        {{ formule.name }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_subscription_show', {'id': subscription.id}) }}">Voir</a>
                    <a href="{{ path('app_subscription_edit', {'id': subscription.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun abonnement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subscription_new') }}">Nouvel</a>
{% endblock %}
