<li class="ml-4 mb-4">
    <a href="{{ link }}" class=" hover:text-gray-400">
        <i class="text-lime-500 mr-4 {{ icon }}"></i> <span class="text-lime-800 dark:text-lime-200 text-l">{{ label }}</span>
    </a>
</li>