{% extends 'base.html.twig' %}

{% block title %}Méthode de paiement{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Nouvelle',
            'href': path('app_payment_method_new')} %}
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Méthode de paiement</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Montant du paiement</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ payment_method.method }}</td>
                    <td class="border-b p-4">{{ payment_method.payment ? payment_method.payment.amount : 'N/A' }}</td>
                    <td class="border-b p-4">
                        {{ include('payment_method/_delete_form.html.twig') }}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
