{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
                {% include 'components/button.html.twig' with {
                'type':'a',
                'icon':'fa fa-plus',
                'label': 'Nouveau',
                'href': path('app_payment_new')} %}
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100">Montant</th>
                    <th class="border-b p-4 text-left bg-gray-100">Date</th>
                    <th class="border-b p-4 text-left bg-gray-100">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ payment.amount }}</td>
                    <td class="border-b p-4">{{ payment.date ? payment.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="border-b p-4">
                        {{ include('payment/_delete_form.html.twig') }}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
